---
const {
  title,
  description,
  canonical,
  slug,
  image,
  author = 'La Cuisine De Bernard',
  publishDate,
  modifiedDate,
  keywords
} = Astro.props;

const siteUrl = 'https://lacuisinedebernard.com';
const fullCanonical = canonical || `${siteUrl}`;
const fullImage = image || `${siteUrl}/og-image.png`;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Basic SEO Tags -->
<title>{title}</title>
<meta name="description" content={description} />
{keywords && <meta name="keywords" content={keywords} />}
<link rel="canonical" href={fullCanonical} />

<!-- Author & Copyright -->
<meta name="author" content={author} />
<meta name="copyright" content={`© 2024 ${author}. All rights reserved.`} />

<!-- Language Alternate Links -->
{slug && (
  <>
    <link rel="alternate" hreflang="fr" href={`${siteUrl}/fr/recettes/${slug}`} />
    <link rel="alternate" hreflang="en" href={`${siteUrl}/en/recettes/${slug}`} />
    <link rel="alternate" hreflang="x-default" href={`${siteUrl}/fr/recettes/${slug}`} />
  </>
)}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="article" />
<meta property="og:url" content={fullCanonical} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={fullImage} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:site_name" content="La Cuisine De Bernard" />

<!-- Twitter Card -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={fullCanonical} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={fullImage} />

<!-- Article SEO Tags -->
{publishDate && <meta property="article:published_time" content={publishDate} />}
{modifiedDate && <meta property="article:modified_time" content={modifiedDate} />}
<meta property="article:author" content={author} />

<!-- Additional SEO Tags -->
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="language" content="English" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Favicon & Icons -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="alternate icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

<!-- DNS Prefetch & Preconnect -->
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<link rel="dns-prefetch" href="//cdn.jsdelivr.net" />
<link rel="preconnect" href="https://fonts.googleapis.com" />

<!-- Mobile Web App -->
<meta name="theme-color" content="#000000" />
<meta name="msapplication-TileColor" content="#000000" />
